@import compass

// Variables

body
  min-width: 1000px
  margin: 0
  padding-top: 55px
  font: 14px/24px "Lato", "Open Sans", "Helvetica Neue", sans-serif
  background: white
  -webkit-font-smoothing: antialiased

a,
a:active,
a:focus
  outline: none
  text-decoration: none

input,
input:focus
  +box-shadow(none)
  outline: none

[data-icon]:before
  font-family: 'IconFont'
  content: attr(data-icon)
  speak: none
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

.pull-left
  float: left

.pull-right
  float: right

.ico
  font-family: IconFont
  font-style: normal

h1,
h2,
h3
  text-align: center

.center
  text-align: center

// Structure

.wrapper
  +clearfix

.container
  max-width: 1050px
  &:after
    content: ""
    clear: both
    display: table

.topbar
  display: none

.view
  display: none

.overlay
  display: none
  position: absolute
  z-index: 1600

.ready
  .topbar
    display: block
  .view
    display: block
  .overlay
    display: block

.content-main
  overflow: hidden
  position: relative
  min-height: 600px
  margin-right: 390px

  .singleheading
    margin-top: 2.5em

  .container
    padding: 7% 12%

.list-group
  margin: 0 0 20px
  padding: 0
  list-style: none

  .list-group-item
    position: relative
    display: block

    span
      display: inline-block
      line-height: inherit
      vertical-align: middle
