/* line 17, ../../app/styles/main.sass */
.page {
  *zoom: 1;
  max-width: 940px;
  _width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ff00aa;
}
/* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.page:after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 480px) {
  /* line 23, ../../app/styles/main.sass */
  .page {
    max-width: 940px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .page:after {
    content: "";
    display: table;
    clear: both;
  }
}
/* line 26, ../../app/styles/main.sass */
.left-box {
  background-color: #880044;
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
  display: inline;
}

/* line 30, ../../app/styles/main.sass */
body {
  min-width: 1000px;
  margin: 0;
  padding-top: 55px;
  font: 14px/24px "Lato", "Open Sans", "Helvetica Neue", sans-serif;
  background: white;
  -webkit-font-smoothing: antialiased;
}

/* line 38, ../../app/styles/main.sass */
a,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
}

/* line 44, ../../app/styles/main.sass */
input,
input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
}

/* line 49, ../../app/styles/main.sass */
[data-icon]:before {
  font-family: "IconFont";
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
}

/* line 58, ../../app/styles/main.sass */
.pull-left {
  float: left;
}

/* line 61, ../../app/styles/main.sass */
.pull-right {
  float: right;
}

/* line 64, ../../app/styles/main.sass */
.ico {
  font-family: IconFont;
  font-style: normal;
}

/* line 68, ../../app/styles/main.sass */
h1,
h2,
h3 {
  text-align: center;
}

/* line 73, ../../app/styles/main.sass */
.center {
  text-align: center;
}
